html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}dfn{font-style:italic}h1{font-size:2em;margin:0.67em 0}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}button,input,optgroup,select,textarea{font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}button:-moz-focusring,input:-moz-focusring{outline:1px dotted ButtonText}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

a {
  color: #2ec9d7;
  text-decoration: none;
}

/*
 * LOGIN
 */
.trapezoid {
  width: 100%;
  height: 210px;
  
  position: relative;
  background: #3a5795;
  overflow: hidden;

  /*
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  */
}
.trapezoid:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.2;
  background: url(https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xlf1/t31.0-8/12496408_10102579344275191_2437322757038786807_o.jpg) no-repeat center 0 fixed; 
  background-size: 100%;
}

.trapezoid h1 {
  margin: 0;
  padding: 35px 0;
  color: white;
  z-index: 10;
  position: relative;
  text-align: center;
  
  font-size: 32px;
  line-height: 42px;
}

.img-circle { 
  border-radius: 50%;
}

.img-login { 
  width: 90px;
  margin-top: -90px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.login-card {
  text-align: center;
  background-color: white;
  margin: -15px 25px 0 25px;
  padding: 30px 0;
  position: relative;
  z-index: 10;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-card h3 {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  margin-top: 15px;
}

.login-body {
  margin: -15px 25px 0 25px;
  padding: 30px 0;
}

.login-body h2 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  text-align: center;
  color: #3a5795;
  
  margin: 30px 0;
}

.login-body button {
  display: block;
  margin: 0 auto;
}

.img-btn { 
  width: 28px;
  height: 28px;
  margin-right: 20px;
  vertical-align: middle;
}

.btn {
  border: 0;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  background: #2ec9d7;
  padding: 15px 0 15px 0;
  text-align: center;
  width: 100%;
  text-decoration: none;
}

.btn:hover {
  background: #186a72;
  text-decoration: none;
}

.btn > span {
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  vertical-align: middle;
}

.login-body p {
  font-size: 12px;
  color: #3a5795;
  text-align: center;
  margin: 0;
  margin-top: 15px;
}


/*
 * DASHBOARD
 */
html, body, #wrapper, .main {
  min-height: 100%;
  margin: 0;
}

.board {
  display: block;
/*  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
*/
  min-height: 700px;
  background: #3a5795;
  overflow: hidden;
}

.board:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 700px;
  z-index: 1;
  opacity: 0.2;
  background: url(/b6b701bc63236f1be80b00a5cbb5242d.jpg) no-repeat center center;
  background-size: cover;
  overflow: hidden;
}

/*.board > * {
  position: relative;
  z-index: 10;
}
*/
.appbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 1000;
  background-color: white;
}

.btn-circle {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 100px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.appbar .btn-circle {
  display: block;
  color: white;
  background-color: #2ec9d7;
  width: 110px;
  height: 110px;
  margin: 0 auto;
  margin-top: -40px;
}

.board h1 {
  margin: 0;
  padding: 35px 0;
  color: white;
  z-index: 10;
  position: relative;
  text-align: center;
  
  font-size: 32px;
  line-height: 42px;
}

.board small {
  font-size: 12px;
  text-transform: uppercase;
  color: #ddd;
}

#box {
    width: 100%;
    height: 300px;
    overflow-x: scroll;
    overflow-y: hidden;
    /*-webkit-overflow-scrolling: touch;*/
    overflow-scrolling: touch;
    direction:rtl;
    position: relative;
    z-index: 100;
}
#inner_box {
  overflow: hidden;
  width: 950px;
  height: 100%;
}
canvas {
  width: 1000px;
  height: 100%;
}

.end {
  margin-top: 100px;
}


    .logout {
      display: none;
    }
    .xlogout {
      position: absolute;
      right: 5px;
      top: 5px;
      z-index: 100;
    }

.progress-outer {
  text-align: center;
}

.progress {
  border: 3px solid transparent;
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.progress.progress-30 {
    border-color: #d7902d;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
}
.progress.progress-60 {
    border-color: #74d72d;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.progress.progress-100 {
    border-color: #2ec9d7;
    border-bottom-color: transparent;
}

h1.miles {
  font-size: 48px;
  font-weight: 300;
  line-height: 130px;
  margin: 0;
  padding: 0;
}

small.miles-num {
  opacity: 0.6;
  font-size: 16px;
}
small.miles-num-0 {
  color: #d73b2d;
}
small.miles-num-30 {
  color: #d7902d;
}
small.miles-num-60 {
  color: #74d72d;
}
small.miles-num-100 {
  color: #2ec9d7;
}

.scale {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}


@media (min-width: 668px) {
  html {
    position: relative;
    max-width: 375px;
    margin: 0 auto;
  }

  .trapezoid:before {
    background-size: 375px;
  }
}
